* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.inputs {
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

button {
    padding: 12px 24px;
    color: white;
    background-color: #006cd2;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.grid {
  background-color: white;
  width: 90%;
  max-width: 700px;
  height: 100vw;
  max-height: 700px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid lightgray;
}

.grid-item {
  border: 1px solid whitesmoke;
}
