* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.inputs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.grid {
  background-color: white;
  width: 700px;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid lightgray;
}

.grid-item {
  width: calc(100% / 16);
  border: 1px solid whitesmoke;
}

/* .grid-item:hover {
  background-color: #006cd2;
} */
