@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

header {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 25px;
    padding: 12px;
    border-bottom: 3px solid #006cd2;
    width: max-content;
    margin: 0 auto;
}

main {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inputs {
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

button {
    padding: 12px 24px;
    color: white;
    background-color: #006cd2;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.grid {
  background-color: white;
  width: 90%;
  max-width: 700px;
  height: 100vw;
  max-height: 700px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid lightgray;
}

.grid-item {
  border: 1px solid whitesmoke;
}
